.about-me {
  text-align: center;
}

body {
  background-color: #ffffcc;
}

.col-sm-4 {
  padding: 5px;
  margin-bottom: 1%;
  border: 0px;
  margin: 5pxpx;
}

.footer {
  border-top: 1px solid grey;
}

.navbar {
  background-color: #99ccff;
}

ol {
  font-size: 17px;
  font-family: sans-serif;
}

p {
  text-indent: 10px;
  font-size: 17px;
  font-family: sans-serif;
}

.pidgeon {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888888;
}

.repo-link {
  color: #339933;
}

ul {
  list-style: none;
}
