.about-me {
  text-align: center;
}

body {
  background-color: #ffffcc;
}

.col-sm-4 {
  margin-bottom: 1%;
}

.footer {
  border-top: 1px solid grey;
}

.navbar {
  background-color: #99ccff;
}

p {
  text-indent: 10px;
  font-size: 17px;
  font-family: sans-serif;
}

.pidgeon {
  width: 876px;
  margin: auto;
}

.repo-link {
  color: #339933;
}

ul {
  list-style: none;
}
